<div class="container">
  <div class="row">
    <div class="titleContainer col align-self-center">
      <h1 class="title text-center">Movies search</h1>
    </div>
    <!--.titleContainer-->
    <div class="logoContainer col-xs-7 offset-1">
      <img class="logo" src="../../assets/img/claqueta.png" alt="logo-claqueta">
    </div>
    <!--.logoContainer-->
    <div class="buttonContainer buttonContainer col-xs-5 offset-4 mt-3">
      <button class="btn btn-info" routerLink="/search">Empezar</button>
    </div>
    <!--.buttonContainer-->
  </div>
  <!--.row-->
</div>
<!--.container-->
