<div class="container" *ngIf="show">
  <div class="row">
    <div class="photo col-6 col-xl-4">
      <img src="../../assets/img/user.svg" alt="user">
    </div>
    <!--.photo-->
    <div class="username col-6 col-xl-4">
      <h2 id="username_text" class="text-center align-middle">ruben_tei</h2>
    </div>

    <div class="description text-justify align-middle col-xl-4">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro natus soluta accusantium vel, veritatis odio debitis earum doloribus cupiditate culpa libero quibusdam ipsa vero ad laboriosam? Debitis hic ullam ad!</p>
    </div><!--.description-->
    <!--.username-->
  </div>
  <!--.row-->
</div>
<!--.container-->
<div class="container">
<button class="btn btn-info" (click)="toggle()" id="sobreMi">Sobre mí</button>
</div><!--.container-->