/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');

html {
    width: 100%;
    height: 100%; 

    .body {
        width: 100%;
        height: 100%;   
    
        .globalContainer {
            width: 100%;
            height: 100%; 
        }
    }
}
